$colors: (
  neutral: (
    100: hsla(30, 29%, 97%, 1),
    200: hsla(30, 35%, 93%, 1),
    300: hsla(219, 20%, 36%, 1),
    400: hsla(219, 43%, 16%, 1),
  ),
  accent: (
    purple: hsla(264, 100%, 69%, 1),
    pink: hsla(292, 76%, 54%, 1),
    orange: hsla(31, 100%, 65%, 1),
  ),
);
